<nav class="navbar navbar-expand-lg w-100 navigation fixed-top" style="background: linear-gradient(to right, #FFE6BF, #FA742B); height: 100px;" id="navbar">
    <div class="container">
      
      <a class="navbar-brand" routerLink="/">
        <img src="./assets/photos/Logo.png" width="250px" class="align-top" style="margin-top: 5px;">
      </a>
  
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
        aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mx-auto" style="margin-top: 12px; font-family: kadwa; font-size: 20px;">
          <li class="nav-item active">
            <a class="nav-link text-black" style="margin-right: 80px;" href="/"> Home </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-black" style="margin-left: 20px;" href="aboutus"> About us </a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link text-black" style="margin-left: 80px;" href="contactus"> Contact us </a>
          </li>
        </ul>
      </div>
      
      <div class="buttons" style="margin-top: 12px; font-family: kadwa;">
        <a href="login"> <button type="button" class="btn btn-outline-dark" style="border-radius: 30px;"> Log in </button> </a>
        <a href="signup"> <button type="button" class="btn btn-dark" style="border-radius: 30px; margin-left: 20px;"> Sign up </button> </a>
      </div>
      
    </div>
</nav>
  
  