<div class="dashboard">
    <app-sidebar></app-sidebar>

    <div class="main-content">
        <div class="container">
            <div class="item">
              <img src="./assets/photos/man.png" alt="First Image" class="image" width="30px" style="margin-right: 10px; margin-left: 900px;">
              <span class="text" style="margin-right: 10px; font-family: kadwa; font-size: 20px;"> Name </span>
              <img src="./assets/photos/bell.png" alt="Second Image" class="image" width="20px" style="margin-right: 10px;">
            </div>
        </div>

        <div style="margin-top: 45px;">
            <span class="text fw-bold" style="margin-left: 10px; font-family: kadwa; font-size: 35px;"> Campaigns </span>
            <p class="text-muted" style="font-family: kadwa; margin-top: 15px; font-size: 18px; margin-left: 15px;"> Effortlessly manage all your campaigns from a single location and analyze your statistics with ease. </p>
        </div>

        <div class="container">
            <div class="row">
    
              <div class="col-md-4">
                <!-- First Card -->
                <div class="card" style="width: 250px; height: 100px; border: 0.5px solid #afafaf; border-radius: 10px; padding-top: 20px; padding-left: 10px; margin-top: 20px;">
                  <div class="row">
                    <div class="col-md-3">
                    <img src="./assets/photos/link.png" class="img" style="width: 48px; margin-left: 10px; margin-top: 5px;">
                    </div>
      
                   <div class="col-md-9">
                   <div style="margin-left: 20px; margin-top: 8px;">
                    <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 25px; margin-left: -10px;">
                      200
                    </p>
                    <br>
                    <p class="card-text fw-lighter text-muted" style="font-family: kadwa; margin-top: -25px; font-size: 20px; margin-left: -10px;">
                      Total connections
                    </p>
                   </div>
                  </div>
                 </div>
                </div>
              </div>

              <!-- Second Card -->
              <div class="col-md-4">
                <div class="card" style="width: 250px; height: 100px; border: 0.5px solid #afafaf; border-radius: 10px; padding-top: 20px; padding-left: 10px; margin-top: 20px; margin-left: 50px;">
                    <div class="row">
                      <div class="col-md-3">
                      <img src="./assets/photos/view.png" class="img" style="width: 48px; margin-left: 10px; margin-top: 5px;">
                      </div>
        
                     <div class="col-md-9">
                     <div style="margin-left: 20px; margin-top: 8px;">
                      <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 25px; margin-left: -10px;">
                        1000
                      </p>
                      <br>
                      <p class="card-text fw-lighter text-muted" style="font-family: kadwa; margin-top: -25px; font-size: 20px; margin-left: -10px;">
                        Total profile views
                      </p>
                     </div>
                    </div>
                </div>
                </div>
             </div>

              <!-- Third Card -->
              <div class="col-md-4">
                <div class="card" style="width: 250px; height: 100px; border: 0.5px solid #afafaf; border-radius: 10px; padding-top: 20px; padding-left: 10px; margin-top: 20px; margin-left: 100px;">
                    <div class="row">
                      <div class="col-md-3">
                      <img src="./assets/photos/reply.png" class="img" style="width: 48px; margin-left: 10px; margin-top: 5px;">
                      </div>
        
                     <div class="col-md-9">
                     <div style="margin-left: 20px; margin-top: 8px;">
                      <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 25px; margin-left: -10px;">
                        100
                      </p>
                      <br>
                      <p class="card-text fw-lighter text-muted" style="font-family: kadwa; margin-top: -25px; font-size: 20px; margin-left: -10px;">
                        Total replies
                      </p>
                     </div>
                    </div>
                   </div>
                  </div>
                </div>
            </div>
        </div>
          
    </div>
</div>
  