<app-header></app-header>

<div class="card1" style="max-width: 1380px; height: 670px; background-color: #f0f0f0;">
    <div class="row">
      <div class="col-md-4">
        <img src="./assets/photos/Emails.png" class="img" style="width: 780px; margin-top: 0px; margin-left: 20px;">
      </div>

      <div class="col-md-5">
        <div class="card-body" style="margin-left: 370px; background-color: #f0f0f0; border-radius: 39px; width: 450px; height: 450px; margin-top: 150px; border: 1px solid #263238;">
            <p class="card-text text-dark" style="font-family: kadwa; font-size: 40px; padding-top: 30px; padding-left: 20px;">
                Contact Us !
            </p>
            <br>
             
            <div class="form-outline mb-4">
              <input type="username" class="form-control form-control-lg rounded" style="font-family: kadwa; height: 50px; width: 420px; margin-left: 15px; padding-left: 55px; margin-top: -5px;" placeholder="Username"/>
              <img src="./assets/photos/user.png" alt="icon" style="width: 20px; margin-top: -75px; margin-left: 35px;">
            </div>
  
            <div class="form-outline" style="margin-top: -30px;">
              <input type="email" class="form-control form-control-lg rounded" style="font-family: kadwa; height: 50px; width: 420px; margin-left: 15px; padding-left: 55px;" placeholder="Email address"/>
              <img src="./assets/photos/email.png" alt="icon" style="width: 20px; margin-top: -70px; margin-left: 35px;">
            </div>
  
            <div class="form-outline mb-2">
              <input type="message" class="form-control form-control-lg rounded" style="font-family: kadwa; height: 160px; width: 420px; margin-left: 15px; padding-left: 18px; padding-bottom: 110px;" placeholder="Message ..."/>
            </div>

            <br>

            <div class="form-row text-center">
              <div class="col-12">
                 <button style="display: center; border-radius: 15px; font-family: kadwa; background-color: #FB6701; color: white; width: 110px; height: 40px; font-size: 20px; margin-top: -10px; padding-bottom: 35px;" type="submit" class="btn"> Submit </button>
              </div>
            </div>
  
          </div>
      </div>

    </div>
  </div>

<app-footer></app-footer>