<app-header></app-header>

<div style="padding-top: 7%;">

    <!-- Welcoming -->
      <div class="card1" style="max-width: 1400px; height: 560px; background: linear-gradient(to right, #FFE6BF, #FA742B);">
        <div class="row">
          <div class="col-md-6 pt-5">
            <div class="card-body" style="margin-left: 120px;">
              <p class="card-text display-1 text-dark" style="font-family: kadwa;">
                 “Meet more , <br>
                 Achieve more,  <br>
                 Do it faster”
              </p>
              <br>
              <p class="card-text fw-lighter fs-5 text-dark" style="font-family: kadwa; margin-bottom: 25px;">
                VenatorLead serves as your intelligent LinkedIn automation <br>
                tool and cold email software, enhancing your outreach efforts effectively.
              </p>

              <br>
              <a href="signup"> <button type="button" class="btn btn-dark" style="border-radius: 30px; font-family: kadwa;"> Start now </button> </a>

            </div>
          </div>

          <div class="col-md-3">
            <img src="./assets/photos/Connected.png" class="img" style="width: 580px;">
          </div>

        </div>
      </div>
    <!-- Welcoming -->

    <br>

    <!-- Informations -->
      <p style="font-family: kadwa; text-align: center; font-size: 55px; margin-top: 40px;"> <span style="color: #FF9700;"> Easy </span> to Start, <span style="color: #FF9700;"> Easy </span> to Use, <br> <br> <br>
        <span style="color: #FF9700;"> Easy </span> to get Replies ! </p> 

        <br>

        <!-- Information1 -->
        <div class="card1" style="max-width: 1500px; height: 420px;">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/photos/Onlineworld.png" class="img" style="width: 420px; margin-left: 150px;">
            </div>
  
            <div class="col-md-9 pt-5">
              <div class="card-body" style="margin-left: 290px; margin-top: 75px;">
                <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 35px;">
                  “Ready to <span style="background-color: #FB6701; border-radius: 8px;"> connect </span> &nbsp;with professionals?”
                </p>
                <br>
                <br>
                <p class="card-text fw-lighter fs-5 text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-left: 18px; margin-top: -25px;">
                  VenatorLead is your all-in-one Automation platform. <br>
                  Discover and engage with the individuals who are essential to your business's success.
                </p>
  
                <a href="login"> <button type="button" class="btn btn-dark" style="border-radius: 30px; font-family: kadwa; margin-left: 18px;"> Try it now </button> </a>
  
              </div>
            </div>
          </div>
        </div>
        <!-- Information1 -->

        <!-- Information2 -->
        <div class="card2" style="max-width: 1500px; height: 420px;">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body" style="margin-left: 170px; margin-top: 150px;">
                <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 35px;">
                  “Set up your first <span style="background-color: #FB6701; border-radius: 8px;"> campaign </span> &nbsp;in minutes”
                </p>
                <br>
                <br>
                <p class="card-text fw-lighter fs-5 text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-left: 18px; margin-top: -25px;">
                  From the moment you log in, you'll seamlessly navigate from <br>
                  onboarding to campaign creation with clear guidance every step of the way.
                </p>
  
                <a href="login"> <button type="button" class="btn btn-dark" style="border-radius: 30px; font-family: kadwa; margin-left: 240px;"> Create your campaign </button> </a>
  
              </div>
            </div>
  
            <div class="col-md-3">
              <img src="./assets/photos/Setup.png" class="img" style="width: 420px; margin-left: -50px;">
            </div>
          </div>
        </div>
        <!-- Information2 -->

        <!-- Information3 -->
        <div class="card3" style="max-width: 1500px; height: 420px;">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/photos/Mailsent.png" class="img" style="width: 420px; margin-left: 150px;">
            </div>
  
            <div class="col-md-8 pt-5">
              <div class="card-body" style="margin-left: 290px; margin-top: 85px;">
                <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 35px;">
                  “Send <span style="background-color: #FB6701; border-radius: 8px;"> cold emails </span> &nbsp;that reach inboxes!”
                </p>
                <br>
                <br>
                <p class="card-text fw-lighter fs-5 text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-left: 18px; margin-top: -25px;">
                  With VenatorLead, you can optimize your prospecting lists and <br>
                  enhance your response rates for increased engagement.
                </p>
  
                <a href="login"> <button type="button" class="btn btn-dark" style="border-radius: 30px; font-family: kadwa; margin-left: 18px;"> Get started </button> </a>
  
              </div>
            </div>
          </div>
        </div>
        <!-- Information3 -->

        <br>

      <p style="font-family: kadwa; text-align: center; font-size: 55px; margin-top: 30px;"> Integrate all solutions seamlessly for <br> <br> <br>
        <span style="color: #FF9700;"> intelligent outreach </span> ! </p> 

        <!-- Information4 -->
        <div class="card4" style="max-width: 1500px; height: 420px; margin-top: 80px;">
          <div class="row">
            <div class="col-md-3">
              <img src="./assets/photos/smartsequence.png" class="img" style="width: 780px; margin-left: 150px;">
            </div>
  
            <div class="col-md-8 pt-2">
              <div class="card-body" style="margin-left: 400px; margin-top: 10px;">
                <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 35px; text-align: center;">
                  “ <span style="background-color: #FB6701; border-radius: 8px;"> Smart sequences </span> &nbsp;”
                </p>
                <br>
                <br>
                <p class="card-text fw-lighter fs-5 text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-left: 15px; margin-top: -25px; text-align: center; font-size: 0px;">
                  Construct customized, multi-channel workflows utilizing <br>
                  if/else conditions, empowering Smart sequences to adapt <br>
                  based on your lead's interactions. Engage with all leads effectively, ensuring no opportunity is missed.
                </p>
  
              </div>
            </div>
          </div>
        </div>
        <!-- Information3 -->

    <!-- Informations -->

    <br>
    <br>

    <!-- Reviews -->
    <p style="font-family: kadwa; text-align: center; font-size: 55px; margin-top: 100px;"> <span style="color: #FF9700;"> Satisfied </span> Users are 
      <span style="color: #FF9700;"> our Best Ads </span> ! </p> 

      <div class="container">
        <div class="row">

          <!-- First Card -->
          <div class="col-md-4">
            <div class="card" style="width: 260px; height: 380px; border: 1px solid #000; border-radius: 21px; margin-left: 100px; padding-top: 20px; padding-left: 10px; margin-top: 60px;">
              <img src="./assets/photos/quotationmark.png" class="card-img-top" style="width: 40px; margin-left: 15px;">
              <div class="card-body">
              <p class="card-text" style="margin-top: 50px; font-size: 15px; font-family: kadwa; text-align:left;">
                  This product has significantly boosted our deliverability success rate and has provided valuable insights into reaching a broader client base. </p>
              </div>

              <div class="row">
              <div class="col-md-3">
              <img src="./assets/photos/Profilepic.png" class="img" style="width: 200px; margin-left: -55px; margin-top: 10px;">
              </div>

             <div class="col-md-9" style="margin-top: 40px;">
             <div class="card-body">
              <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 15px; margin-left: 5px;">
                Jacob Frostwood
              </p>
              <br>
              <p class="card-text fw-lighter text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-top: -32px; font-size: 15px; margin-left: 5px;">
                Business Developer
              </p>
              <img src="./assets/photos/rating2.png" class="img" style="width: 70px; margin-top: -48px; margin-left: 5px;">
              </div>
              </div>
              </div>
            </div>
          </div>

          <!-- Second Card -->
          <div class="col-md-4">
            <div class="card" style="width: 260px; height: 380px; border: 1px solid #000; border-radius: 21px; margin-left: 100px; padding-top: 20px; padding-left: 10px; margin-top: 60px;">
              <img src="./assets/photos/quotationmark.png" class="card-img-top" style="width: 40px; margin-left: 15px;">
              <div class="card-body">
              <p class="card-text" style="margin-top: 25px; font-size: 15px; font-family: kadwa; text-align:left;">
                VenatorLead serves as the essential element that facilitates the expansion of our outbound sales process. I'd estimate that around 70% of the leads we acquire are empowered by VenatorLead to some extent. </p>
              </div>

              <div class="row">
              <div class="col-md-3">
              <img src="./assets/photos/face.png" class="img" style="width: 130px; margin-left: -20px; margin-top: 10px;">
              </div>

             <div class="col-md-8" style="margin-top: 30px;">
             <div class="card-body">
              <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 15px; margin-left: 5px;">
                Emily Westwood
              </p>
              <br>
              <p class="card-text fw-lighter text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-top: -32px; font-size: 15px; margin-left:5px;">
                Co-Founder
              </p>
              <img src="./assets/photos/rating1.png" class="img" style="width: 70px; margin-top: -50px; margin-left: 5px;">
              </div>
              </div>
              </div>
            </div>
          </div>

          <!-- Third Card -->
          <div class="col-md-4">
            <div class="card" style="width: 260px; height: 380px; border: 1px solid #000; border-radius: 21px; margin-left: 100px; padding-top: 20px; padding-left: 10px; margin-top: 60px;">
              <img src="./assets/photos/quotationmark.png" class="card-img-top" style="width: 40px; margin-left: 15px;">
              <div class="card-body">
              <p class="card-text" style="margin-top: 50px; font-size: 15px; font-family: kadwa; text-align:left;">
                VenatorLead has revolutionized our business development efforts. 
                We have found no other service that compares, and we don't foresee switching to any alternative. </p>
              </div>

              <div class="row">
              <div class="col-md-3">
              <img src="./assets/photos/Profilepana.png" class="img" style="width: 170px; margin-left: -40px; margin-top: 0px;">
              </div>

             <div class="col-md-8" style="margin-top: 30px;">
             <div class="card-body">
              <p class="card-text text-dark fw-bold" style="font-family: kadwa; font-size: 15px; margin-left: 5px;">
                Ava Meadows
              </p>
              <br>
              <p class="card-text fw-lighter text-dark" style="font-family: kadwa; margin-bottom: 23px; margin-top: -32px; font-size: 15px; margin-left:5px;">
                CEO & Founder
              </p>
              <img src="./assets/photos/rating2.png" class="img" style="width: 70px; margin-top: -50px; margin-left: 5px;">
              </div>
              </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    <!-- Reviews -->

    <br>
    <br>
    <br>



<app-footer></app-footer>